# Assignment: Data Wrangling
### `! git clone https://github.com/ds3001f25/wrangling_assignment.git`
### Do Q1 and Q2
### Reading material: `tidy_data.pdf`

**Q1.** This question provides some practice cleaning variables which have common problems.
1. Numeric variable: For `./data/airbnb_hw.csv`, clean the `Price` variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)
2. Categorical variable: For the Minnesota police use of for data, `./data/mn_police_use_of_force.csv`, clean the `subject_injury` variable, handling the NA's; this gives a value `Yes` when a person was injured by police, and `No` when no injury occurred. What proportion of the values are missing? Is this a concern? Cross-tabulate your cleaned `subject_injury` variable with the `force_type` variable. Are there any patterns regarding when the data are missing? 
3. Dummy variable: For the pretrial data covered in the lecture `./data/justice_data.parquet`, clean the `WhetherDefendantWasReleasedPretrial` variable as well as you can, and, in particular, replace missing values with `np.nan`.
4. Missing values, not at random: For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)

In [1]:
import pandas as pd
import numpy as np

# Question 1.1
dataq1p1 = pd.read_csv("./data/airbnb_hw.csv")
print(dataq1p1["Price"].head())

dataq1p1["Price"] = (dataq1p1["Price"].str.replace(',', '', regex=False).astype(float))

price_missing = dataq1p1["Price"].isna().sum()
print(price_missing)

0    145
1     37
2     28
3    199
4    549
Name: Price, dtype: object
0

Q1.1

When cleaning the "Price" variable, I removed all of the commas and casted all of the values to floats to ensure consistency throughout the column. I decided not to remove and dollar signs ($) from this column because the values did not appear to include them when I looked at the first 5 rows. After cleaning this variable, I ended up with 0 missing values.

In [3]:
# Question 1.2
dataq1p2 = pd.read_csv("./data/mn_police_use_of_force.csv")
print(dataq1p2["subject_injury"].head())

dataq1p2["subject_injury"] = (dataq1p2["subject_injury"].
                              str.strip().
                              str.lower().
                              replace({'yes':'Yes', 'no':'No'}))

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: subject_injury, dtype: object

Q1.2

...

In [4]:
# Question 1.3
dataq1p3 = pd.read_parquet("./data/justice_data.parquet")

dataq1p3["WhetherDefendantWasReleasedPretrial"] = (dataq1p3["WhetherDefendantWasReleasedPretrial"].
                                                   replace({'Yes': 1, 'No': 2}).
                                                   astype(float))

# Question 1.4
pd.crosstab(dataq1p3["SentenceTypeAllChargesAtConvictionInContactEvent"], dataq1p3["ImposedSentenceAllChargeInContactEvent"].isna())

ImposedSentenceAllChargeInContactEvent            False
SentenceTypeAllChargesAtConvictionInContactEvent
0                                                  8720
1                                                  4299
2                                                   914
4                                                  8779
9                                                   274

Q1.3
Completed in code chunk above

Q1.4

**Q2.** Go to https://sharkattackfile.net/ and download their dataset on shark attacks (Hint: `GSAF5.xls`).

1. Open the shark attack file using Pandas. It is probably not a csv file, so `read_csv` won't work.
2. Drop any columns that do not contain data.
3. Clean the year variable. Describe the range of values you see. Filter the rows to focus on attacks since 1940. Are attacks increasing, decreasing, or remaining constant over time?
4. Clean the Age variable and make a histogram of the ages of the victims.
5. What proportion of victims are male?
6. Clean the `Type` variable so it only takes three values: Provoked and Unprovoked and Unknown. What proportion of attacks are unprovoked?
7. Clean the `Fatal Y/N` variable so it only takes three values: Y, N, and Unknown.
8. Are sharks more likely to launch unprovoked attacks on men or women? Is the attack more or less likely to be fatal when the attack is provoked or unprovoked? Is it more or less likely to be fatal when the victim is male or female? How do you feel about sharks?
9. What proportion of attacks appear to be by white sharks? (Hint: `str.split()` makes a vector of text values into a list of lists, split by spaces.)

In [9]:
# Question 2.1
import pandas as pd
import matplotlib.pyplot as plt

messy_dataq2 = pd.read_excel("GSAF5.xls")

# Question 2.2
dataq2 = messy_dataq2.dropna(axis=1, how="all")

Q2.1

Completed in code chunk above

Q2.2

Completed in code chunk above

In [ ]:
# Question 2.3
dataq2["Year"] = pd.to_numeric(dataq2["Year"], errors="coerce")
drop_na_dataq2p3 = dataq2.dropna(subset=["Year"]) # drop the NAs
filtered = drop_na_dataq2p3[drop_na_dataq2p3["Year"] >= 1940] # filter to the correct years

Q2.3

In [ ]:
# Question 2.4
dataq2["Age"] = pd.to_numeric(dataq2["Age"], errors="coerce")
q2_ages = dataq2["Age"].dropna()
q2_min = q2_ages.min()
q2_max = q2_ages.max()
print(q2_min)
print(q2_max)

# Question 2.5

1.0
87.0

Q2.4

Q2.5

In [ ]:
# Question 2.6

# Question 2.7
print(pd.crosstab(df["Sex "], df["Type"], normalize="index"))
print(pd.crosstab(df["Type"], df["Fatal"], normalize="index"))
print(pd.crosstab(df["Sex "], df["Fatal"], normalize="index"))

Q2.6


Q2.7

Completed in code chunk above

In [ ]:
# Question 2.8

Q2.8

In [ ]:
# Question 2.9

Q2.9